<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHAuthorization</key>
	<string>Bearer d38b9613db574876c06bd2db6dca16091e22d0ace28de2c59fd7b340d78607a9</string>
</dict>
</plist>
